# packages in environment at /scratch/ias41/envs/release:
#
# Name                    Version                   Build  Channel
_anaconda_depends         2019.03                  py36_0  
_libgcc_mutex             0.1                        main  
adjusttext                0.7.3.1                    py_0    conda-forge
alabaster                 0.7.12                     py_0    conda-forge
anaconda                  custom                   py36_1  
anaconda-client           1.7.2                      py_0    conda-forge
anaconda-project          0.8.3                      py_0    conda-forge
asn1crypto                1.2.0                    py36_0    conda-forge
astroid                   2.3.3                    py36_0    conda-forge
astropy                   3.2.3            py36h516909a_0    conda-forge
atomicwrites              1.3.0                      py_0    conda-forge
attrs                     19.3.0                     py_0    conda-forge
babel                     2.7.0                      py_0    conda-forge
backcall                  0.1.0                      py_0    conda-forge
backports                 1.0                        py_2    conda-forge
backports.os              0.1.1                 py36_1001    conda-forge
backports.shutil_get_terminal_size 1.0.0                      py_3    conda-forge
beautifulsoup4            4.8.1                    py36_0    conda-forge
bitarray                  1.1.0            py36h516909a_0    conda-forge
bkcharts                  0.2                      py36_0    conda-forge
blas                      2.14                   openblas    conda-forge
bleach                    3.1.0                      py_0    conda-forge
blosc                     1.17.0               he1b5a44_1    conda-forge
bokeh                     1.4.0                    py36_0    conda-forge
boto                      2.49.0                     py_0    conda-forge
bottleneck                1.3.1            py36hc1659b7_0    conda-forge
bzip2                     1.0.8                h516909a_1    conda-forge
ca-certificates           2019.11.28           hecc5488_0    conda-forge
cairo                     1.16.0            hfb77d84_1002    conda-forge
certifi                   2019.11.28               py36_0    conda-forge
cffi                      1.13.2           py36h8022711_0    conda-forge
chardet                   3.0.4                 py36_1003    conda-forge
click                     7.0                        py_0    conda-forge
cloudpickle               1.2.2                      py_1    conda-forge
clyent                    1.2.2                      py_1    conda-forge
colorama                  0.4.1                      py_0    conda-forge
contextlib2               0.6.0.post1                py_0    conda-forge
cryptography              2.8              py36h72c5cf5_0    conda-forge
curl                      7.65.3               hf8cf82a_0    conda-forge
cycler                    0.10.0                     py_2    conda-forge
cython                    0.29.14          py36he1b5a44_0    conda-forge
cytoolz                   0.10.1           py36h516909a_0    conda-forge
dask                      2.8.1                      py_0    conda-forge
dask-core                 2.8.1                      py_0    conda-forge
dbus                      1.13.6               he372182_0    conda-forge
decorator                 4.4.1                      py_0    conda-forge
defusedxml                0.6.0                      py_0    conda-forge
distributed               2.8.1                      py_0    conda-forge
docutils                  0.15.2                   py36_0    conda-forge
entrypoints               0.3                   py36_1000    conda-forge
et_xmlfile                1.0.1                   py_1001    conda-forge
expat                     2.2.5             he1b5a44_1004    conda-forge
fastcache                 1.1.0            py36h516909a_0    conda-forge
flask                     1.1.1                      py_1    conda-forge
fontconfig                2.13.1            h86ecdb6_1001    conda-forge
freetype                  2.10.0               he983fc9_1    conda-forge
fribidi                   1.0.5             h516909a_1002    conda-forge
fsspec                    0.6.0                      py_0    conda-forge
get_terminal_size         1.0.0                haa9412d_0  
gettext                   0.19.8.1          hc5be6a0_1002    conda-forge
gevent                    1.4.0            py36h516909a_0    conda-forge
glib                      2.58.3          py36h6f030ca_1002    conda-forge
gmp                       6.1.2             hf484d3e_1000    conda-forge
gmpy2                     2.1.0b1          py36h04dde30_0    conda-forge
graphite2                 1.3.13            hf484d3e_1000    conda-forge
greenlet                  0.4.15           py36h516909a_0    conda-forge
gst-plugins-base          1.14.5               h0935bb2_0    conda-forge
gstreamer                 1.14.5               h36ae1b5_0    conda-forge
h5py                      2.10.0          nompi_py36h513d04c_100    conda-forge
harfbuzz                  2.4.0                h9f30f68_3    conda-forge
hdf5                      1.10.5          nompi_h3c11f04_1104    conda-forge
heapdict                  1.0.1                      py_0    conda-forge
html5lib                  1.0.1                      py_0    conda-forge
icu                       64.2                 he1b5a44_1    conda-forge
idna                      2.8                   py36_1000    conda-forge
imageio                   2.6.1                    py36_0    conda-forge
imagesize                 1.1.0                      py_0    conda-forge
importlib_metadata        0.23                     py36_0    conda-forge
intel-openmp              2019.4                      243  
ipykernel                 5.1.3            py36h5ca1d4c_0    conda-forge
ipython                   7.9.0            py36h5ca1d4c_0    conda-forge
ipython_genutils          0.2.0                      py_1    conda-forge
ipywidgets                7.5.1                      py_0    conda-forge
isort                     4.3.21                   py36_0    conda-forge
itsdangerous              1.1.0                      py_0    conda-forge
jbig                      2.1               h14c3975_2001    conda-forge
jdcal                     1.4.1                      py_0    conda-forge
jedi                      0.15.1                   py36_0    conda-forge
jeepney                   0.4.1                      py_0    conda-forge
jinja2                    2.10.3                     py_0    conda-forge
joblib                    0.14.0                     py_0    conda-forge
jpeg                      9c                h14c3975_1001    conda-forge
json5                     0.8.5                      py_0    conda-forge
jsonschema                3.2.0                    py36_0    conda-forge
jupyter                   1.0.0                      py_2    conda-forge
jupyter_client            5.3.3                    py36_1    conda-forge
jupyter_console           6.0.0                      py_0    conda-forge
jupyter_core              4.6.1                    py36_0    conda-forge
jupyterlab                1.2.3                      py_0    conda-forge
jupyterlab_server         1.0.6                      py_0    conda-forge
keyring                   19.2.0                   py36_0    conda-forge
kiwisolver                1.1.0            py36hc9558a2_0    conda-forge
krb5                      1.16.3            h05b26f9_1001    conda-forge
lazy-object-proxy         1.4.3            py36h516909a_0    conda-forge
libblas                   3.8.0               14_openblas    conda-forge
libcblas                  3.8.0               14_openblas    conda-forge
libclang                  9.0.0           default_hde54327_4    conda-forge
libcurl                   7.65.3               hda55be3_0    conda-forge
libedit                   3.1.20170329      hf8c457e_1001    conda-forge
libffi                    3.2.1             he1b5a44_1006    conda-forge
libgcc-ng                 9.1.0                hdf63c60_0  
libgfortran-ng            7.3.0                hdf63c60_2    conda-forge
libiconv                  1.15              h516909a_1005    conda-forge
liblapack                 3.8.0               14_openblas    conda-forge
liblapacke                3.8.0               14_openblas    conda-forge
libllvm8                  8.0.1                hc9558a2_0    conda-forge
libllvm9                  9.0.0                hc9558a2_3    conda-forge
libopenblas               0.3.7                h6e990d7_3    conda-forge
libpng                    1.6.37               hed695b0_0    conda-forge
libsodium                 1.0.17               h516909a_0    conda-forge
libssh2                   1.8.2                h22169c7_2    conda-forge
libstdcxx-ng              9.1.0                hdf63c60_0  
libtiff                   4.1.0                hc3755c2_1    conda-forge
libtool                   2.4.6             h14c3975_1002    conda-forge
libuuid                   2.32.1            h14c3975_1000    conda-forge
libxcb                    1.13              h14c3975_1002    conda-forge
libxkbcommon              0.9.1                hebb1f50_0    conda-forge
libxml2                   2.9.10               hee79883_0    conda-forge
libxslt                   1.1.33               h31b3aaa_0    conda-forge
llvmlite                  0.30.0           py36h8b12597_1    conda-forge
locket                    0.2.0                      py_2    conda-forge
lxml                      4.4.1            py36h7ec2d77_0    conda-forge
lz4-c                     1.8.3             he1b5a44_1001    conda-forge
lzo                       2.10              h14c3975_1000    conda-forge
markupsafe                1.1.1            py36h516909a_0    conda-forge
matplotlib                3.1.2                    py36_1    conda-forge
matplotlib-base           3.1.2            py36h250f245_1    conda-forge
matplotlib-venn           0.11.5                     py_1    conda-forge
mccabe                    0.6.1                      py_1    conda-forge
mistune                   0.8.4           py36h516909a_1000    conda-forge
mkl                       2019.4                      243  
mkl-service               2.3.0            py36h516909a_0    conda-forge
mkl_fft                   1.0.15           py36h516909a_1    conda-forge
mkl_random                1.1.0            py36hb3f55d8_0    conda-forge
mock                      3.0.5                    py36_0    conda-forge
more-itertools            7.2.0                      py_0    conda-forge
mpc                       1.1.0             h04dde30_1006    conda-forge
mpfr                      4.0.2                he80fd80_0    conda-forge
mpmath                    1.1.0                      py_0    conda-forge
msgpack-python            0.6.2            py36hc9558a2_0    conda-forge
multipledispatch          0.6.0                      py_0    conda-forge
multiprocessing-logging   0.2.6                     <pip>
nb_conda_kernels          2.2.2                    py36_0    conda-forge
nbconvert                 5.6.1                    py36_0    conda-forge
nbformat                  4.4.0                      py_1    conda-forge
ncurses                   6.1               hf484d3e_1002    conda-forge
networkx                  2.4                        py_0    conda-forge
nltk                      3.4.4                      py_0    conda-forge
nose                      1.3.7                 py36_1003    conda-forge
notebook                  6.0.1                    py36_0    conda-forge
nspr                      4.23                 he1b5a44_0    conda-forge
nss                       3.47                 he751ad9_0    conda-forge
numba                     0.46.0           py36hb3f55d8_1    conda-forge
numexpr                   2.7.0            py36hb3f55d8_0    conda-forge
numpy                     1.17.3           py36h95a1406_0    conda-forge
numpy-base                1.17.3           py36h2f8d375_0  
numpydoc                  0.9.1                      py_0    conda-forge
olefile                   0.46                       py_0    conda-forge
openpyxl                  3.0.1                      py_0    conda-forge
openssl                   1.1.1d               h516909a_0    conda-forge
packaging                 19.2                       py_0    conda-forge
pandas                    0.25.3           py36hb3f55d8_0    conda-forge
pandoc                    2.7.3                         0    conda-forge
pandocfilters             1.4.2                      py_1    conda-forge
pango                     1.42.4               ha030887_1    conda-forge
parso                     0.5.1                      py_0    conda-forge
partd                     1.0.0                      py_0    conda-forge
path.py                   12.0.2                     py_0    conda-forge
pathlib2                  2.3.5                    py36_0    conda-forge
patsy                     0.5.1                      py_0    conda-forge
pcre                      8.43                 he1b5a44_0    conda-forge
pep8                      1.7.1                      py_0    conda-forge
pexpect                   4.7.0                    py36_0    conda-forge
pickleshare               0.7.5                 py36_1000    conda-forge
pillow                    6.2.1            py36hd70f55b_1    conda-forge
pip                       19.3.1                   py36_0    conda-forge
pixman                    0.38.0            h516909a_1003    conda-forge
pluggy                    0.12.0                     py_0    conda-forge
ply                       3.11                       py_1    conda-forge
prometheus_client         0.7.1                      py_0    conda-forge
prompt_toolkit            2.0.10                     py_0    conda-forge
psutil                    5.6.5            py36h516909a_0    conda-forge
pthread-stubs             0.4               h14c3975_1001    conda-forge
ptyprocess                0.6.0                   py_1001    conda-forge
py                        1.8.0                      py_0    conda-forge
pycodestyle               2.5.0                      py_0    conda-forge
pycosat                   0.6.3           py36h516909a_1002    conda-forge
pycparser                 2.19                     py36_1    conda-forge
pycrypto                  2.6.1           py36h516909a_1003    conda-forge
pycurl                    7.43.0.3         py36h16ce93b_1    conda-forge
pyflakes                  2.1.1                      py_0    conda-forge
pygments                  2.4.2                      py_0    conda-forge
pylint                    2.4.4                    py36_0    conda-forge
pymysql                   0.8.1                      py_0    conda-forge
pyodbc                    4.0.27           py36he1b5a44_0    conda-forge
pyopenssl                 19.0.0                   py36_0    conda-forge
pyparsing                 2.4.5                      py_0    conda-forge
pyqt                      5.12.3           py36hcca6a23_1    conda-forge
pyrsistent                0.15.6           py36h516909a_0    conda-forge
pysocks                   1.7.1                    py36_0    conda-forge
pytables                  3.6.1            py36h9f153d1_0    conda-forge
pytest                    5.0.1                    py36_0    conda-forge
pytest-arraydiff          0.3                        py_0    conda-forge
pytest-astropy            0.6.0                      py_0    conda-forge
pytest-astropy-header     0.1.1                      py_0    conda-forge
pytest-doctestplus        0.4.0                      py_0    conda-forge
pytest-openfiles          0.4.0                      py_0    conda-forge
pytest-remotedata         0.3.1                      py_0    conda-forge
python                    3.6.7             h357f687_1006    conda-forge
python-dateutil           2.8.1                      py_0    conda-forge
pytz                      2019.3                     py_0    conda-forge
pywavelets                1.1.1            py36hc1659b7_0    conda-forge
pyyaml                    5.1.2            py36h516909a_0    conda-forge
pyzmq                     18.1.1           py36h1768529_0    conda-forge
qt                        5.12.5               hd8c4c69_1    conda-forge
qtawesome                 0.6.0                      py_0    conda-forge
qtconsole                 4.6.0                      py_0    conda-forge
qtpy                      1.9.0                      py_0    conda-forge
readline                  8.0                  hf8c457e_0    conda-forge
requests                  2.22.0                   py36_1    conda-forge
rope                      0.14.0                     py_0    conda-forge
ruamel_yaml               0.15.71         py36h14c3975_1000    conda-forge
scikit-image              0.16.2           py36hb3f55d8_0    conda-forge
scikit-learn              0.21.3           py36hcdab131_0    conda-forge
scipy                     1.3.2            py36h921218d_0    conda-forge
seaborn                   0.9.0                      py_2    conda-forge
secretstorage             3.1.1                    py36_0    conda-forge
send2trash                1.5.0                      py_0    conda-forge
setuptools                41.6.0                   py36_1    conda-forge
simplegeneric             0.8.1                      py_1    conda-forge
singledispatch            3.4.0.3               py36_1000    conda-forge
sip                       4.19.18          py36he1b5a44_1    conda-forge
six                       1.13.0                   py36_0    conda-forge
snappy                    1.1.7             he1b5a44_1002    conda-forge
snowballstemmer           2.0.0                      py_0    conda-forge
sortedcollections         1.1.2                      py_0    conda-forge
sortedcontainers          2.1.0                      py_0    conda-forge
soupsieve                 1.9.4                    py36_0    conda-forge
sphinx                    2.2.1                      py_0    conda-forge
sphinxcontrib             1.0                      py36_1  
sphinxcontrib-applehelp   1.0.1                      py_0    conda-forge
sphinxcontrib-devhelp     1.0.1                      py_0    conda-forge
sphinxcontrib-htmlhelp    1.0.2                      py_0    conda-forge
sphinxcontrib-jsmath      1.0.1                      py_0    conda-forge
sphinxcontrib-qthelp      1.0.2                      py_0    conda-forge
sphinxcontrib-serializinghtml 1.1.3                      py_0    conda-forge
sphinxcontrib-websupport  1.1.2                      py_0    conda-forge
spyder                    3.3.6                    py36_1    conda-forge
spyder-kernels            0.5.2                    py36_0    conda-forge
sqlalchemy                1.3.11           py36h516909a_0    conda-forge
sqlite                    3.30.1               hcee41ef_0    conda-forge
statsmodels               0.9.0           py36h3010b51_1000    conda-forge
sympy                     1.4                      py36_0    conda-forge
tblib                     1.4.0                      py_0    conda-forge
terminado                 0.8.3                    py36_0    conda-forge
testpath                  0.4.4                      py_0    conda-forge
tk                        8.6.10               hed695b0_0    conda-forge
toolz                     0.10.0                     py_0    conda-forge
tornado                   6.0.3            py36h516909a_0    conda-forge
traitlets                 4.3.3                    py36_0    conda-forge
typed-ast                 1.4.0            py36h516909a_0    conda-forge
unicodecsv                0.14.1                     py_1    conda-forge
unixodbc                  2.3.7             h227dcee_1000    conda-forge
urllib3                   1.25.7                   py36_0    conda-forge
wcwidth                   0.1.7                      py_1    conda-forge
webencodings              0.5.1                      py_1    conda-forge
werkzeug                  0.16.0                     py_0    conda-forge
wheel                     0.33.6                   py36_0    conda-forge
widgetsnbextension        3.5.1                    py36_0    conda-forge
wrapt                     1.11.2           py36h516909a_0    conda-forge
wurlitzer                 1.0.3                    py36_0    conda-forge
xlrd                      1.2.0                      py_0    conda-forge
xlsxwriter                1.2.6                      py_0    conda-forge
xlwt                      1.3.0                      py_1    conda-forge
xorg-kbproto              1.0.7             h14c3975_1002    conda-forge
xorg-libice               1.0.10               h516909a_0    conda-forge
xorg-libsm                1.2.3             h84519dc_1000    conda-forge
xorg-libx11               1.6.9                h516909a_0    conda-forge
xorg-libxau               1.0.9                h14c3975_0    conda-forge
xorg-libxdmcp             1.1.3                h516909a_0    conda-forge
xorg-libxext              1.3.4                h516909a_0    conda-forge
xorg-libxrender           0.9.10            h516909a_1002    conda-forge
xorg-renderproto          0.11.1            h14c3975_1002    conda-forge
xorg-xextproto            7.3.0             h14c3975_1002    conda-forge
xorg-xproto               7.0.31            h14c3975_1007    conda-forge
xz                        5.2.4             h14c3975_1001    conda-forge
yaml                      0.1.7             h14c3975_1001    conda-forge
zeromq                    4.3.2                he1b5a44_2    conda-forge
zict                      1.0.0                      py_0    conda-forge
zipp                      0.6.0                      py_0    conda-forge
zlib                      1.2.11            h516909a_1006    conda-forge
zstd                      1.4.4                h3b9ef0a_1    conda-forge
